export( ageLinearModel,
        filterReliability,
	lidLensArtifact,
	loadvfcsv,
	loadvfxml,
	pdpmap,
	pdval,
	quad2Dfit,
	locperc,
	tdpmap,
	tdval,
	sdnv,
	vfstats,
	vfindex,
	setnv,
	getnv,
	gloperc,
	ghpostd,
	vfdemographics,
	vfiperc,
	tdrank,
	tdranknv,
	tdrankperc,
	tdrankadjperc,
	xmlitem,
	xmlblock,
	vfindexpmap,	vfstatspmap,
	xmldevval,
	xmlvfval,
	loadvfxmlbatch,
	xmlvfxy,
        vfcolormap,
	vfplot,
	vfplotloc,
	createviewport,
	vflayout,
	vfgrayscale,
        vfsegmentcoord,
	bebie,
	stimLoc,
	colorMapGraph,
	poplr,
	poplr_pstat,
	poplr_cstat,
	vflayout_legoplot,
	vfplot_poplr,	vflayout_poplr,
	hist_poplr,
	progols )